ctransformers
scikit-learn
nltk
spacy
SPARQLWrapper
sentence-transformers
numpy
torch>=1.6.0
transformers>=3.4.0
pytest>=5.3.2
scikit-learn>=0.22.1
scipy>=1.4.1
six
llama_cpp_python
stanza
tensorflow_hub
tensorflow